<div id="awwwards" style="position: fixed; z-index: 999; transform: translateY(-50%); top: 50%; right: 0">
  text
</div>
<div id="three-container" class="three-wp"></div>
<div class="home-social-awards-container">
  <div class="home-awards-container content-animable">
    <a href="" class="logo-awards-container social-icon cursor-customized" target="_blank" rel="noopener">
      <p class="font-menu font-white bold">Link</p>
    </a>
  </div>
  <div class="home-awards-container content-animable">
    <a href="" class="logo-awards-container social-icon cursor-customized" target="_blank" rel="noopener">
      <p class="font-menu font-white bold">Link</p>
    </a>
  </div>
  <div class="home-awards-container content-animable">
    <a href="" class="logo-awards-container social-icon cursor-customized" target="_blank" rel="noopener">
      <p class="font-menu font-white bold">Link</p>
    </a>
  </div>
  <div class="home-awards-container content-animable">
    <a href="" class="logo-awards-container social-icon cursor-customized" target="_blank" rel="noopener">
      <p class="font-menu font-white bold">Link</p>
    </a>
  </div>
</div>

{% include 'items/slider.html' %}

<div class="background-bar">
  <div class="progress-bar"></div>
</div>
<div class="navigate-single-button-container content-animable ">
  <div class="svg-container "> <svg class="cursor-customized blink-slow " width="36" height="36" viewBox="0 0 36 36">
      <circle cx="18" cy="18" r="16" />
    </svg></div>
  <div class="navigate-single-button">
    <p class="navigate-single-button-advice font-menu font-white blink-slow">Press and hold</p>
  </div>
</div>