{% extends "base.html" %}
{% block title %}Страница не найдена {% endblock %}
{% load staticfiles socialaccount %}
{% block body_options %}ltr sticky-header offcanvas-init offcanvs-position-left{% endblock %}
{% block content %}

<style>
  .sppb-section {
      padding-top: 100px;
      padding-right: 0px;
      padding-bottom: 80px;
      padding-left: 0px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
  }
</style>

<section id="sp-section-1">
    <div class="row">
        <div id="sp-title" class="col-lg-12 ">
            <div class="sp-column ">
                <div class="sp-page-title" style="background-image: url(static/images/contact-header2.jpg);">
                    <div class="container">
                      <h3 class="sp-page-title-sub-heading">Страница 404</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="sp-main-body">
    <div class="container">
        <div class="container-inner">
            <div class="row">
                <main id="sp-component" class="col-lg-12 " role="main">
                    <div class="sp-column ">
                        <div class="login" style="padding-bottom:150px;">
                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                  <span style="font-size: 20px;text-align:center">Страница удалена или перемещена</span>
                                  <br><br>
                                  <a style="font-size: 20px;text-align:center" href="{% url 'main' %}" ajax data-target="#ajax" data-el="#ajax">Вернуться на главную</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</section>
{% endblock %}
