<div class="popup-content">
  <div class="close-button cursor-customized">
    <div class="cross-container">
      <div class="stick stick1"></div>
      <div class="stick stick2"></div>
    </div>
    <div class="back-container">
      <p class="font-menu font-gray general-hover hover-white back-text">Назад</p>
    </div>
  </div>

  <div class="credits-container animable-popup-container">
    <p class="background-text font-menu-item font-white"></p>
    <div class="credit-image">
      <div class="progressive replace grid-image width-2 mq-80 js-animate" data-href="/static/images/cat.gif">
        <img class="preview" width="20" height="15" loading="lazy" src="/static/images/preview.jpg">
      </div>
    </div>
    <div class="credits-wrapper">
      <p class="credits-p font-p">
        Creadits text here!
      </p>
    </div>
  </div>
</div>