<div class="rotate-device-container">
    <div class="rotate-device">
        <p class="font-menu font-gray">Turn your device around</p>
    </div>
</div>
<div class="cookies-container">
    <div class="cookies-content">
        <p class="font-h6 font-gray">
            This website uses cookies. By closing this message, you accept our cookie policy.
        </p>
    </div>
    <div class="cookies-close-container">
        <svg enable-background="new 0 0 100 100" viewBox="0 0 100 100" xml:space="preserve">
            <polygon fill="#010101"
                points="77.6,21.1 49.6,49.2 21.5,21.1 19.6,23 47.6,51.1 19.6,79.2 21.5,81.1 49.6,53 77.6,81.1 79.6,79.2   51.5,51.1 79.6,23 ">
            </polygon>
        </svg>
    </div>
</div>
<footer> </footer>
<script src="/static/scripts/audio.js"></script>
<script defer src="/static/scripts/main.js"></script>
<script defer src="/static/scripts/progressive-image.js"></script>

</body>

</html>