<div class="capsule-floating-object">
    <img src="/static/images/star.png" class="image-path"></img>
</div>
<p class="capsule-main-title">Partners</p>

<div class="capsule-popup">
    <div class="popup-content">
        <div class="close-button cursor-customized">
            <div class="cross-container">
                <div class="stick stick1"></div>
                <div class="stick stick2"></div>
            </div>
            <div class="back-container">
                <p class="font-menu font-gray general-hover hover-white back-text">Back</p>
            </div>
        </div>
        <div class="popup-content-work-container">
            <div class="hand-image-container parallax-container"></div>
            <div class="work-content not-centered">
                <div class="work-text-container">
                    <div class="work-text work-text-partners">
                        <div class="center-text">
                            <p class="font-title center-text-title  font-black js-animate" data-animation="top-opacity">
                                A mate for life</p>
                            <p class="font-h5 center-text-description  font-black js-animate"
                                data-animation="top-opacity">
                                We are always open to new challenges and embarks on new journeys together with exciting
                                new friends.
                            </p>
                        </div>
                        <div class="clients-container">
                            clients clients clients clients clients clients clients clients
                        </div>
                    </div>
                </div>

                {% include 'footer_popup.html' %}
            </div>
        </div>
    </div>
</div>


{% include 'items/capsule_icon.html' %}
<audio class="capsule-sound" src="/static/audio/partners.mp3"></audio>

<div class="capsule-three-background-path" data-three-path="/static/images/objects/tinker.obj" data-scale="1"
    data-rotation="30"></div>
<div class="meta-data">
    <p class="title">Partners</p>
    <p class="description">Partners.
    </p>
    <div class="image" data-src="/static/images/thumb_black.jpg"></div>
</div>