<div class="capsule-floating-object"> <img src="/static/images/01_big.png" class="image-path"></img></div>
<p class="capsule-main-title">Пункт меню</p>

<div class="capsule-popup">
    <div class="popup-content">
        <div class="close-button cursor-customized">
            <div class="cross-container">
                <div class="stick stick1"></div>
                <div class="stick stick2"></div>
            </div>
            <div class="back-container">
                <p class="font-menu font-gray general-hover hover-white back-text">Назад</p>
            </div>
        </div>
        <div class="popup-content-work-container scroll-smooth-container">
            <div class="hand-image-container parallax-container"></div>
            <div class="work-content scroll-smooth-height not-centered">
                <div class="work-text-container">
                    <div class="work-text work-text-partners">
                        <div class="center-text">
                            <p class="font-title center-text-title animate-element font-black">Nominated to Developer of the Year at Awwwards</p>
                            <p class="font-h5 center-text-description animate-element font-black">We're ever so humbled to receive this nomination, Thank you to everyone who made this possible!</p>
                            <a href="" target="_blank" rel="noopener" class="font-h5 center-text-description animate-element font-black cursor-customized general-hover hover-white">
                              <u class="fond-font-underline-black"> Vote for us! </u>
                            </a>

                        </div>
                    </div>
                </div>
                {% include 'footer_popup.html' %}
            </div>
        </div>
    </div>
</div>


{% include 'items/capsule_icon.html' %}
<audio class="capsule-sound" src="/static/audio/award_1.mp3"></audio>

<div class="capsule-three-background-path" data-three-path="/static/images/objects/awards.obj" data-scale='0.03' data-rotation='0'></div>
<div class="meta-data">
    <p class="title">Пункт меню | Фонд мира</p>
    <p class="description">Фонд организован для помощи нравственным движениям в организации эффектных интернет-ресурсов.</p>
    <div class="image" data-src="/static/images/thumb_black.jpg"></div>
</div>
