<div class="capsule-floating-object">
    <img src="/static/images/service.png" class="image-path"></img>
</div>
<p class="capsule-main-title">Service</p>

<div class="capsule-popup">
    <div class="popup-content">
        <div class="close-button cursor-customized">
            <div class="cross-container">
                <div class="stick stick1"></div>
                <div class="stick stick2"></div>
            </div>
            <div class="back-container">
                <p class="font-menu font-gray general-hover hover-white back-text">Back</p>
            </div>
        </div>
        <div class="popup-content-work-container">
            <div class="hand-image-container parallax-container"></div>
            <div class="work-content not-centered">
                <div class="work-text-container">
                    <div class="work-text">
                        <p class="font-title description  font-black js-animate" data-animation="top-opacity">We love
                            awards, especially if we get them.</p>
                        <div class="columns-container">
                            <div class="award-item">
                                <p class="year font-h3 font-black js-animate" data-animation="top-opacity">2018</p>
                                <div class="awards-list">
                                    <p class="award font-h5 font-black js-animate" data-animation="top-opacity">FWA Of
                                        The Day, FWA. fond Digital</p>
                                    <p class="award font-h5 font-black js-animate" data-animation="top-opacity">Site of
                                        the Day, Awwwards. fond Digital</p>
                                    <p class="award font-h5 font-black js-animate" data-animation="top-opacity">
                                        Developer, Awwwards. fond Digital</p>
                                    <p class="award font-h5 font-black js-animate" data-animation="top-opacity">
                                        Honorable Mention, Awwwards. fond Digital</p>
                                    <p class="award font-h5 font-black js-animate" data-animation="top-opacity">Website
                                        of the day, Cssda. fond Digital</p>
                                </div>
                            </div>
                            <div class="award-item">
                                <p class="year font-h3 font-black js-animate" data-animation="top-opacity">2017</p>
                                <div class="awards-list">
                                    <p class="award font-h5 font-black js-animate" data-animation="top-opacity">Studio
                                        of the Year, Nominee, Awwwards. fond</p>
                                    <p class="award font-h5 font-black js-animate" data-animation="top-opacity">Site of
                                        the Day, Awwwards. fond Corporate Site</p>
                                    <p class="award font-h5 font-black js-animate" data-animation="top-opacity">
                                        Honorable Mention, Awwwards. fond Corporate Site</p>
                                    <p class="award font-h5 font-black js-animate" data-animation="top-opacity">Website
                                        of the day, Cssda. fond Corporate Site</p>
                                    <p class="award font-h5 font-black js-animate" data-animation="top-opacity">Site of
                                        the Day, Awwwards. Richland, 2017</p>
                                    <p class="award font-h5 font-black js-animate" data-animation="top-opacity">
                                        Honorable Mention, Awwwards. Richland</p>
                                    <p class="award font-h5 font-black js-animate" data-animation="top-opacity">Special
                                        Kudos, Cssda. Richland</p>
                                    <p class="award font-h5 font-black js-animate" data-animation="top-opacity">Silver,
                                        w3 Awards. Al Erkyah City</p>
                                    <p class="award font-h5 font-black js-animate" data-animation="top-opacity">Silver,
                                        w3 Awards. Richland</p>
                                </div>
                            </div>
                            <div class="award-item">
                                <p class="year font-h3 font-black js-animate" data-animation="top-opacity">2016</p>
                                <div class="awards-list">
                                    <p class="award font-h5 font-black js-animate" data-animation="top-opacity">Site of
                                        the Day, Awwwards. Al Erkyah City</p>
                                    <p class="award font-h5 font-black js-animate" data-animation="top-opacity">Canopus
                                        Winner, Vega Awards. Al Erkyah City</p>
                                    <p class="award font-h5 font-black js-animate" data-animation="top-opacity">
                                        Honorable Mention, Awwwards. Al Erkyah City</p>
                                    <p class="award font-h5 font-black js-animate" data-animation="top-opacity">Webby
                                        Honoree, The Webby Awards. Al Erkyah City, 2016</p>
                                    <p class="award font-h5 font-black js-animate" data-animation="top-opacity">Website
                                        of the Day, Cssda. Al Erkyah City, 2016</p>
                                    <p class="award font-h5 font-black js-animate" data-animation="top-opacity">
                                        Honorable Mention, Awwwards. Al Habtoor City, 2015</p>
                                    <p class="award font-h5 font-black js-animate" data-animation="top-opacity">Website
                                        of the Day, Cssda. Al Habtoor City, 2015</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% include 'footer_popup.html' %}
            </div>
        </div>
    </div>
</div>


{% include 'items/capsule_icon.html' %}
<audio class="capsule-sound" src="/static/audio/awards.mp3"></audio>

<div class="capsule-three-background-path" data-three-path="/static/images/objects/awards.obj" data-scale="1"
    data-rotation="-90"></div>
<div class="meta-data">
    <p class="title">Service</p>
    <p class="description">Service.
    </p>
    <div class="image" data-src="/static/images/thumb_black.jpg"></div>
</div>