<div class="top-bar content-animable">
  <a class="logo-container cursor-customized general-hover special-link" data-menu="home">
    лого
  </a>
    <div class="gems-container not-complete credits-container cursor-customized" data-id-popup="credits-popup">
        <div class="gems-wrapper"></div>
        <div class="gems-text">
            <p class="font-menu font-gray">Все отделы нужно посетить</p>
        </div>
    </div>
    <div class="menu-button js-open-popup cursor-customized  general-hover hover-white">
        <p class="font-menu font-gray menu-text">Меню</p>
        <div class="menu-icon">
            <div class="line  line-1"></div>
            <div class="line  line-2"></div>
            <div class="line  line-3"></div>
            <svg x="0px" y="0px" viewBox="0 0 56 56" style="enable-background:new 0 0 56 56;" xml:space="preserve">
                <ellipse stroke="#000" ry="27" rx="27" cy="28" cx="28" stroke-width="2" fill="transparent" stroke-dasharray="170" stroke-dashoffset="170" />
            </svg>
        </div>
    </div>
</div>
