<div class="capsule-popup work-popup" data-popup-name="work-ahc">
    <div class="popup-content is-a-work">
        <div class="close-button cursor-customized">
            <div class="cross-container">
                <div class="stick stick1"></div>
                <div class="stick stick2"></div>
            </div>
            <div class="back-container">
                <p class="font-menu font-gray general-hover hover-white back-text">Back</p>
            </div>
        </div>
        <div class="popup-content-work-container">
            <div class="hand-image-container parallax-container"></div>
            <div class="work-content">
                <div class="work-background-image-container">
                  <img class="background-image" src="/static/images/work/ahc.jpg">
                  <div class="background-gradient"></div>
                </div>
                <div class="work-text-container">
                    <div class="work-text">
                        <div class="center-text">
                            <p class="font-title font-black center-text-title js-animate" data-animation="top-opacity" ">My City. My Legacy.</p><p class=" font-h5 font-black center-text-description js-animate" data-animation="top-opacity" ">A multi-use development in Dubai, consisting of three hotels (The St. Regis Dubai, W Dubai – Al Habtoor City, and The Westin Dubai, Al Habtoor City) and three high-rise residential towers commissioned by the Al Habtoor Group in 2012.</p></div>
                            <div class=" columns-container">
                              rfgrertf e4t
                        </div>
                    </div>
                </div>
                <div class="preload-image-container width-image not-loaded-yet">
                    <div class="preload-mask-wrapper" data-height="734" data-width="1366">
                        <div class="preload-mask animate_when_loaded"></div>
                    </div>
                    <img data-src="/static/images/work/ahc.jpg" class="lazy">
                </div>
                <div class="preload-image-container width-image not-loaded-yet">
                    <div class="preload-mask-wrapper" data-height="734" data-width="1366">
                        <div class="preload-mask animate_when_loaded"></div>
                    </div>
                    <img data-src="/static/images/work/ahc.jpg" class="lazy">
                </div>
                <div class="preload-image-container width-image not-loaded-yet">
                    <div class="preload-mask-wrapper" data-height="734" data-width="1366">
                        <div class="preload-mask animate_when_loaded"></div>
                    </div>
                    <img data-src="/static/images/work/ahc.jpg" class="lazy">
                </div>

                <div class="stadistics-container"></div>

                {% include 'footer_popup.html' %}

            </div>
        </div>
        <audio class="capsule-sound" src="/static/audio/al-habtoor.mp3"></audio>
    </div>
</div>
