<div class="capsule-popup work-popup" data-popup-name="work-fond">
    <div class="popup-content is-a-work">
        <div class="close-button cursor-customized">
            <div class="cross-container">
                <div class="stick stick1"></div>
                <div class="stick stick2"></div>
            </div>
            <div class="back-container">
                <p class="font-menu font-gray general-hover hover-white back-text">Back</p>
            </div>
        </div>
        <div class="popup-content-work-container">
            <div class="hand-image-container parallax-container"></div>
            <div class="work-content">
                <div class="work-background-image-container">
                  <img class="background-image" src="/static/images/work/fond.jpg">
                  <div class="background-gradient"></div>
                </div>
                <div class="work-text-container">
                    <div class="work-text">
                        <div class="center-text">
                            <p class="font-title font-black center-text-title js-animate" data-animation="top-opacity" ">Home sweet home</p><p class=" font-h5 font-black center-text-description js-animate" data-animation="top-opacity" ">fond is a leading branding & digital marketing agency in Dubai. Our business services include branding, digital marketing and visualisation.</p></div><div class=" columns-container">
                            <div class="columns-wrapper">
                                text text text
                            </div>
                        </div>
                    </div>
                </div>

                <div class="preload-image-container width-image not-loaded-yet">
                    <div class="preload-mask-wrapper" data-height="768" data-width="1351">
                        <div class="preload-mask animate_when_loaded"></div>
                    </div> <img data-src="/static/images/work/fond.jpg" class="lazy">
                </div>
                <div class="preload-image-container width-image not-loaded-yet">
                    <div class="preload-mask-wrapper" data-height="768" data-width="1351">
                        <div class="preload-mask animate_when_loaded"></div>
                    </div> <img data-src="/static/images/work/fond.jpg" class="lazy">
                </div>
                <div class="preload-image-container width-image not-loaded-yet">
                    <div class="preload-mask-wrapper" data-height="737" data-width="1366">
                        <div class="preload-mask animate_when_loaded"></div>
                    </div> <img data-src="/static/images/work/fond.jpg" class="lazy">
                </div>
                <div class="preload-image-container width-image not-loaded-yet">
                    <div class="preload-mask-wrapper" data-height="737" data-width="1366">
                        <div class="preload-mask animate_when_loaded"></div>
                    </div> <img data-src="/static/images/work/fond.jpg" class="lazy">
                </div>
                <div class="preload-image-container width-image not-loaded-yet">
                    <div class="preload-mask-wrapper" data-height="737" data-width="1366">
                        <div class="preload-mask animate_when_loaded"></div>
                    </div> <img data-src="/static/images/work/fond.jpg" class="lazy">
                </div>

                <div class="stadistics-container">
                    <div class="stadistic-item js-animate" data-animation="top-opacity">
                        <p class="stadistic-number font-h2 font-black">+30K</p>
                        <p class="stadistic-description font-menu font-uppercase font-black">Users per month</p>
                    </div>
                    <div class="stadistic-item js-animate" data-animation="top-opacity">
                        <p class="stadistic-number font-h2 font-black">+80%</p>
                        <p class="stadistic-description font-menu font-uppercase font-black">Brand Love</p>
                    </div>
                </div>

                {% include 'footer_popup.html' %}
            </div>
        </div>
        <audio class="capsule-sound" src="/static/audio/fond.mp3"></audio>
    </div>
</div>
